section{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    background-color: rgba(9, 19, 160, 0.288);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texto{
    height: 600px;
    width: 650px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    border-radius: 10px;
}

button{
    
    background-color: rgba(9, 19, 160, 0.288);
}



#pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgba(12, 22, 161, 0.288);
    
}

